{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
TFS - Menu
{% endblock %}

{% block contenido %}
  <div class="row">
       <!-- Pie Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Time recorded in all user projects</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> To Do
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Progres
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Done
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  // Set new default font family and font color to mimic Bootstrap's default styling
$(document).ready(function(){
	Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
	Chart.defaults.global.defaultFontColor = '#858796';

	// Pie Chart Example
	var ctx = document.getElementById("myPieChart");
	var myPieChart = new Chart(ctx, {
	  type: 'doughnut',
	  data: {
		labels: ["To DO", "Progres", "Done"],
		datasets: [{
		  data: [ {{lista_tarea}},
              {{lista_trabajado}},
              {{lista_restante}}],
		  backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
		  hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
		  hoverBorderColor: "rgba(234, 236, 244, 1)",
		}],
	  },
	  options: {
		maintainAspectRatio: false,
		tooltips: {
		  backgroundColor: "rgb(255,255,255)",
		  bodyFontColor: "#858796",
		  borderColor: '#dddfeb',
		  borderWidth: 1,
		  xPadding: 15,
		  yPadding: 15,
		  displayColors: false,
		  caretPadding: 10,
		},
		legend: {
		  display: false
		},
		cutoutPercentage: 80,
	  },
	});
});
  </script>
{% endblock %}