{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'app/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                 {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error'%}danger{% else %}{{message.tags}}{%endif%} alert-dismissible fade show" role="alert">
                            {{message}}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      {% endfor %}
                  {% endif %}
              </div>
              <form class="user needs-validation" action="{% url 'app:registrar' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" name="FirstName" placeholder="First Name" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please choose a FirstName.</div>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" name="LastName" placeholder="Last Name" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please choose a LastName.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="Email" placeholder="Email Address" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please choose a Email.</div>
                    </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleUsuario" name="Username" placeholder="Usuario" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please choose a Usuario.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="Password" placeholder="Password" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please choose a Password.</div>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" name="RepeatPassword" placeholder="Repeat Password" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please choose a RepeatPassword.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="CustomSelect" required>
                    <option value="" selected>select rol</option>
                    <option value="Developer">Developer</option>
                    <option value="productowner">Product Owner</option>
                  </select>
                  <div class="invalid-feedback">invalid rol selection</div>
                </div>
                <button class="btn btn-primary btn-user btn-block" type="submit">
                  Register Account
                </button>                
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'app:index' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'app/js/sb-admin-2.min.js' %}"></script>
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>
