
{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
TFS - Menu
{% endblock %}

{% block contenido %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <button class="btn btn-primary float-right"  data-toggle="modal" data-target="#exampleModalScrollableNew">
		<svg class="bi bi-plus-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
</svg> New</button>
</div>
<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    {% for proyecto in lista_proyecto %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ proyecto.nombre }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ proyecto.descripcion }}</div>
            </div>
            <div class="col-auto">
             <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalEdit" data-whatever="{{proyecto.id}},{{ proyecto.nombre}},{{ proyecto.descripcion }}">
              <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
              </svg> Edit
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<!--Ejecutar agregar-->
<div class="modal fade" id="exampleModalScrollableNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">New Proyect</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" action="{% url 'app:saveProyect' %}" method="post" novalidate>
      {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="exampleInputName" name="ProyectName" placeholder="Name Proyect" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Name.</div>
            </div>
            <div class="form-group">
              <textarea class="form-control form-control-user" id="exampleInputDescrption" name="ProyectDescrption" placeholder="Name Descrption" rows="3"></textarea>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Descrption.</div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-success" type="submit">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Editar-->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Proyect</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" action="{% url 'app:editProyect' %}" method="post" novalidate>
      {% csrf_token %}
        <div class="modal-body">
        <input id="prodId" name="prodId" type="hidden">
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="exampleInputName" name="ProyectName" placeholder="Name Proyect" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Name.</div>
            </div>
            <div class="form-group">
              <textarea class="form-control form-control-user" id="exampleInputDescrption" name="ProyectDescrption" placeholder="Name Descrption" rows="3"></textarea>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Descrption.</div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-success" type="submit">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
