{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
TFS - Menu
{% endblock %}

{% block contenido %}
<!-- Page Heading -->
{% if request.session.rol_administracion != 'Developer' %}
<div class="row">
  <div class="col-sm-4">
      <h1 class="h3 mb-4 text-gray-800">See Task</h1>
  </div>
  <div class="col-sm-8">
      <button class="btn btn-primary float-right"  data-toggle="modal" data-target="#exampleModalScrollableNew"><svg class="bi bi-plus-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
</svg> New</button>
  </div>
</div>
{% endif %}

<div class="row row-cols-1 row-cols-md-3">
<!--Set Proyecto-->

{% for tareas in lista_tareas %}
  {% if request.session.rol_administracion == 'Developer' %}
    {% if tareas.developer_id == request.user.id%}
    <div class="col mb-4">
      <div class="card h-100-developer_1">
        <div class="card-body">
          <h5 class="card-title">{{ tareas.nombre }}</h5>
          <p class="card-text">{{ tareas.descripcion }}</p>
          <p class="card-text">{{request.user.first_name}}&nbsp;{{request.user.last_name}}</p>
          {% for proyecto in lista_proyectosdos %}
            {% if tareas.proyecto_id == proyecto.id%}
            <p class="card-text">{{ proyecto.nombre }}</p>
            {%endif%}
          {%endfor%}
          {% for estado in lista_estados %}
                {% if tareas.estado_actual_id == estado.id%}
                <p class="card-text">{{ estado.nombre }}</p>
                {%endif%}
            {%endfor%}
            <p class="card-text">{{ tareas.fechacreacion }}</p>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalScrollableEditEstado" data-whatever="{{tareas.id}},{{tareas.estado_actual_id}}">
          <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
          </svg> Edit
          </button>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalScrollableComen" data-whatever="{{tareas.id}},{{tareas.developer_id}}">Add Coment</button>
          <a class="btn btn-info" href="{% url 'app:view_see_developer' tareas.id %}"><svg class="bi bi-file-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2V8h-1v5a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1h5V1z"/>
  <path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 4.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
</svg> See Coment</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% else %}
      {% for p in lista_proyecto %}
        {% if tareas.proyecto_id == p.id%}
          <div class="col mb-4">
          <div class="card h-100-developer">
            <div class="card-body">
              <h5 class="card-title">{{ tareas.nombre }}</h5>
              <p class="card-text">{{ tareas.descripcion }}</p>
              {% for user in lista_user %}
                {% if tareas.developer_id == user.id%}
                <p class="card-text">{{ user.first_name }}&nbsp;{{user.last_name}}</p>
                {%endif%}
              {%endfor%}
              <p class="card-text">{{ p.nombre }}</p>
              {% for estado in lista_estados %}
                {% if tareas.estado_actual_id == estado.id%}
                <p class="card-text">{{ estado.nombre }}</p>
                {%endif%}
              {%endfor%}
              <p class="card-text">{{ tareas.fechacreacion }}</p>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modeledittarea" data-whatever="{{tareas.id}},{{tareas.nombre }},{{tareas.descripcion}},{{tareas.proyecto_id}},{{tareas.developer_id}},{{tareas.tiempoestimado}},{{tareas.estado_actual_id}}">
              <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
              </svg> Edit
              </button>
              <a class="btn btn-danger" href="{% url 'app:view_remove_developer' tareas.id %}">
              <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
              </svg></a>
              <a class="btn btn-info" href="{% url 'app:view_see_developer' tareas.id %}"><svg class="bi bi-file-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2V8h-1v5a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1h5V1z"/>
              <path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 4.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg> See Coment</a>
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</div>
<!--Editar tareas-->
<div class="modal fade" id="modeledittarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" action="{% url 'app:EditTask' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="modal-body">
        <input id="prodId" name="prodId" type="hidden">
         <div class="form-group">
              <input type="text" class="form-control form-control-user" id="exampleInputName" name="TaskName" placeholder="Name Task" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Name.</div>
          </div>
          <div class="form-group">
              <textarea class="form-control form-control-user" id="exampleInputDescrption" name="TaskDescrption" placeholder="Name Descrption" rows="3" ></textarea>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Descrption.</div>
          </div>
          <div class="form-group">
            <select class="custom-select mr-sm-2" id="CustomSelectproyect2" name="CustomSelectproyect2" disabled required>
              <option value="" selected>select Proyecto</option>
              {% for p in lista_proyecto %}
                  <option value="{{p.id}}">{{p.nombre}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">invalid proyect selection</div>
          </div>
          <div class="form-group">
              <select class="custom-select mr-sm-2" name="CustomSelectdeveloper2" id="CustomSelectdeveloper2" disabled required>
                  <option value="">Seleccionar</option>
                  {% for u in lista_user %}
                        {% for d in lista_developers %}
                            {%if d.usuario_id == u.id %}
                                {% if u.id != request.user.id %}
                                  <option value="{{d.usuario_id}}" data-region="{{ d.proyecto_id }}">{{u.first_name}}&nbsp;{{u.last_name}}</option>
                                {%endif%}
                            {%endif%}
                        {% endfor %}
                    {% endfor %}
              </select>
              <div class="invalid-feedback">invalid developer selection</div>
          </div>
          <div class="form-group">
              <input type="number" value="0" class="form-control form-control-user" id="exampleInputNumber" name="TaskNumber" placeholder="Number" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Number.</div>
          </div>
           <div class="form-group">
            <select class="custom-select mr-sm-2" id="CustomSelectproyectes" name="CustomSelectestado2" required>
              <option value="" selected>select state</option>
              {% for estado in lista_estados %}
                <option value="{{estado.id}}">{{estado.nombre}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">invalid state selection</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Nueva Teras-->
<div class="modal fade" id="exampleModalScrollableNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" action="{% url 'app:addTarea' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
              <input type="text" class="form-control form-control-user" id="exampleInputName" name="TaskName" placeholder="Name Task" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Name.</div>
          </div>
          <div class="form-group">
              <textarea class="form-control form-control-user" id="exampleInputDescrption" name="TaskDescrption" placeholder="Name Descrption" rows="3" ></textarea>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Descrption.</div>
          </div>
          <div class="form-group">
            <select class="custom-select mr-sm-2" id="CustomSelectproyect" name="CustomSelectproyect" required>
              <option value="" selected>select Proyecto</option>
              {% for p in lista_proyecto %}
                  <option value="{{p.id}}">{{p.nombre}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">invalid proyect selection</div>
          </div>
          <div class="form-group">
              <select class="custom-select mr-sm-2" name="CustomSelectdeveloper" id="CustomSelectdeveloper" disabled required>
                  <option value="">Seleccionar</option>
                  {% for u in lista_user %}
                        {% for d in lista_developers %}
                            {%if d.usuario_id == u.id %}
                                {% if u.id != request.user.id %}
                                  <option value="{{d.usuario_id}}" data-region="{{ d.proyecto_id }}">{{u.first_name}}&nbsp;{{u.last_name}}</option>
                                {%endif%}
                            {%endif%}
                        {% endfor %}
                    {% endfor %}
              </select>
              <div class="invalid-feedback">invalid developer selection</div>
          </div>
          <div class="form-group">
              <input type="number" value="0" class="form-control form-control-user" id="exampleInputName" name="TaskNumber" placeholder="Number" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Number.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>  
<!--Nueva Comentario Teras-->
<div class="modal fade" id="exampleModalScrollableComen" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" action="{% url 'app:addComent' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="modal-body">
        <input id="prodId" name="prodId" type="hidden">
          <div class="form-group">
              <textarea class="form-control form-control-user" id="exampleInputDescrption" name="TaskDescrption" placeholder="Name Descrption" rows="3" required ></textarea>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Descrption.</div>
          </div>
          <div class="form-group">
              <input type="number" class="form-control form-control-user" id="exampleInputName" name="TaskNumberT" placeholder="Time worked" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Number.</div>
          </div>
          <div class="form-group">
              <input type="number" class="form-control form-control-user" id="exampleInputName" name="TaskNumberR" placeholder="Time remaining" required>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please choose a Number.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>    
<!--Editar estado-->
<div class="modal fade" id="exampleModalScrollableEditEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" action="{% url 'app:EditEstado' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="modal-body">
        <input id="prodId" name="prodId" type="hidden">
          <div class="form-group">
            <select class="custom-select mr-sm-2" id="CustomSelectestado" name="CustomSelectestado" required>
              <option value="" selected>select Proyecto</option>
              {% for estado in lista_estados %}
                <option value="{{estado.id}}">{{estado.nombre}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">invalid state selection</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}